.photo-grid__items {
    display: grid;
    margin: 0 auto;
    padding: 0;
    max-width: calc(284px*4 + 16px*3);
    list-style-type: none;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
}
@media screen and (max-width: 1024px) {
    .photo-grid__items {
      max-width: calc(300px * 3 + 14px * 2);
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 14px;
    }
} 
@media screen and (max-width: 768px) {
    .photo-grid__items {
      max-width: calc(352px * 2 + 16px);
      grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
      gap: 16px;
    }
}
@media screen and (max-width: 350px) {
    .photo-grid__items {
      max-width: 288px;
      grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
      gap: 12px;
    }
}